.profile {
    width: 480px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding-top: 120px;
}

.form_buttons {
    display: flex;
    justify-content: center;
    margin: 0;
}