.section {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 100px 16px 0;
}

.fillings {
    width: 568px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: calc(100vh - 510px);
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0 12px 0 0;
}

.fillings_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bun {
    composes: fillings_item;
    justify-content: flex-end;
}

.order {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 16px 0;
}

.price_block {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-right: 40px;
}