.header {
    grid-row: 1/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);
}

.nav {
    width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

.left_menu {
    display: flex;
    align-items: center;
    grid-column: 1/span 1;
}

.menu_item {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    text-decoration: none;
    color: var(--text-inactive-color);
}

.menu_item_active {
    composes: menu_item;
    color: var(--text-primary-color);
}

.right_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 3/span 1;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/span 1;
}
